/** header **/

.site-header {
	position: relative;
}
.site-store-locator {
    direction: rtl;
    font-weight: bold;
    @include spacepad(1em);
}

.site-branding {
    position: fixed;
    top: 0;
    z-index: 99;
}
